*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ppal{
  height: 92.2vh;
  background: url('/images/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#pastilla{
  height: 50%;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
}

#logo{
  height: 50%;
  border-radius: 50%;
  margin: 1rem;
}

#boton1{
  padding: .8rem 1.2rem;
  border: none;
  margin: 1rem;
  border-radius: 10px;
  background-color: rgb(196, 150, 208);
}